Solicitação de Pausa
<br>
<% @pausa = Pausa.da_tarefa(tarefa.id)%>
Justificativa: <%= @pausa.justificativa unless @pausa.nil? %><br/>
<% form_tag( :action=>:aprovar_ou_reprovar_pausa, :controller=>'tarefas') do %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Comentário: <%= text_area_tag(:comentario, '', :size=>"21x3") %>  
<br/>
   <%= submit_tag "Aprovar pausa" %> |    <%= submit_tag "Reprovar pausa", :name=>"reprovar" %>
  </p>
<% end %>
