<% content_for :rightside do %>
    <% nome_usuario = ''%>
    <% if @minhas_solicitacoes.empty? & @minhas_tarefas.empty? %>
    <div id="nome_usuario">
        Não há nenhuma tarefa direcionada pra você no momento. 
    </div>
    <% end %>
    <% for tarefa in @minhas_tarefas do  %>
      <% if nome_usuario!= tarefa.solicitante.login then %>
        <div id="nome_usuario">Solicitadas por <%= tarefa.solicitante.login %>: </div>
        <% nome_usuario = tarefa.solicitante.login %> 
      <% end %>
    <div id="tarefa">
      <% if tarefa.alerta_usuario %>
        <span id="blink_<%=tarefa.id.to_s %>" ><%= image_tag("Favs-16x16.png") %></span>
      <% end %>
        <a href="#" onClick=toggle('#toggle_appear_<%= tarefa.id.to_s %>',<%= tarefa.id %>,<%= tarefa.alerta_usuario %>,'usuario') ><%= tarefa.descricao %></a><br/>
    <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
	    <% if tarefa.pausada_esperando_aprovacao %>
	       <a href="#"><img src="/images/pause.png" border=0 />
	    <% end %>

	    <% if tarefa.pausada  %>
	       <% rota = "/tarefas/reiniciar_a_tarefa?tarefa_id=" + tarefa.id.to_s  %>
	       <a href= <%=rota%>  > <img src="/images/pause.png" border=0/></a>
	    <% end %>

	    <% if tarefa.sem_pausa %>

	    <a href="#" onClick="abre_form_pausa(<%=tarefa.id%>);return false;"><img src="/images/play.png" border=0/></a>
	     <div style="display:none;" id="form_pausa_<%=tarefa.id.to_s%>">
	         <%= render :partial=>'pausar', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
	    </div>

	    <% end %>
        <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
        <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>    
    <% #TODO Verificar se os botões ficaram embutidos %>


    
    </div>
</div>
<% end %>

<% end %>
<% #TODO Fazer efeito Pulsate no blink %>