<% content_for :leftside do %>
<% nome_usuario = ''%>
<% if @minhas_solicitacoes.empty? %>
   <div id="nome_usuario">
    Não há nenhuma solicitação sua pendente no momento. 
   </div>
<% end %>
<% for tarefa in @minhas_solicitacoes do  %>
    <% if nome_usuario!= tarefa.user.login then %>
      <div id="nome_usuario"><%= tarefa.user.login %> </div>
      <% nome_usuario = tarefa.user.login %> 
    <% end %>
   <div id="tarefa">
<% #TODO apenas piscar as tarefas com solicitação de pausa %>
    
    <% if tarefa.pausada %>
      <% @pausa = Pausa.da_tarefa(tarefa.id)%>
      (<%= @pausa.tempo_de_solicitacao %>)
    <% end %>
   <br/>
    <% if tarefa.alerta_solicitante %>
      <span id="blink_<%=tarefa.id.to_s %>" ><%= image_tag("Favs-16x16.png") %></span>
	<% end %>
    <a href="#" 
        onClick=toggle('#toggle_appear_<%= tarefa.id.to_s %>',<%= tarefa.id %>,<%= tarefa.alerta_solicitante %>, 'solicitante') ><%= tarefa.descricao %></a>
   
   <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
    <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'esquerdo'} %>
    <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>
   </div>
   <% if tarefa.pausada_esperando_aprovacao %>
     <%= render :partial=>'aprovar_reprovar_pausa', :locals=>{:tarefa=>tarefa}%> 
   <% end %>
 </div>
<br/>
<% end %>

<% end %>