<% content_for :leftside do %>
<% nome_usuario = ''%>
<% for tarefa in @minhasSolicitacoes do  %>
    <% if nome_usuario!= tarefa.usuario.nome then %>
      <div id="nomeUsuario"><%= tarefa.usuario.nome %> </div>
      <% nome_usuario = tarefa.usuario.nome %> 
    <% end %>
   <div id="tarefa">
	<%= 'blink' if tarefa.alerta %>
	<a href="#" onClick="Effect.toggle('toggle_appear_<%= tarefa.id.to_s %>' , 'blind', { duration: 1.0 }	); return false;"><%= tarefa.descricao %></a>
    <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
    <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>
    <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'esquerdo'} %>
   </div>
 </div>
<br/>
<% end %>

<% end %>