<% content_for :rightside do %>
    <% nome_usuario = ''%>
    <% if @minhas_solicitacoes.empty? %>
    <div id="nome_usuario">
        Não há nenhuma tarefa direcionada pra você no momento. 
    </div>
    <% else %>
      <% if @tem_tarefa_com_pausa_padrao %>
        <%= render :partial=>"reinicio_padrao" %>
      <% else %>
        <%= render :partial=>"pausa_padrao" %>
      <% end %>
    <% end %>
    <% for tarefa in @minhas_tarefas do  %>
      <% if nome_usuario!= tarefa.solicitante.nome then %>
        <div id="nome_usuario"><%= tarefa.solicitante.nome %> </div>
        <% nome_usuario = tarefa.solicitante.nome %> 
      <% end %>
    <div id="tarefa">
	  <%= 'blink' if tarefa.alerta %>
	<%= tarefa.status %> | <%= tarefa.id %></br>
<%	#TODO substituir o togle do csriptaculous pelo do jquery %>
        <a href="#" onClick="$('#toggle_appear_<%= tarefa.id.to_s %>').toggle('blind', { percent: 0 },500 ); return false;"><%= tarefa.descricao %></a><br/>
    <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
       
        <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
        <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>    
    <% #TODO Verificar se os botõe ficaram embutidos %>

    <% if tarefa.pausada_esperando_aprovacao %>
       <a href="#"><img src="/images/pause.png" border=0 />
    <% end %>

    <% if tarefa.pausada  %>
       <% rota = "/tarefas/reiniciar_a_tarefa?tarefa_id=" + tarefa.id.to_s  %>
       <a href= <%=rota%>  > <img src="/images/pause.png" border=0/></a>
    <% end %>
    
    <% if tarefa.sem_pausa %>
   
	<a href="#" onClick="abre_form_pausa(<%=tarefa.id%>);return false;"><img src="/images/play.png" border=0/></a>
	 <div style="display:none;" id="form_pausa_<%=tarefa.id.to_s%>">
		 <%= render :partial=>'pausar', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
	</div>
    
    <% end %>
    
    </div>
</div>
<% end %>

<% end %>
<% #TODO Fazer efeito Pulsate no blink %>