<% content_for :leftside do %>
<% nome_usuario = ''%>
<% if @minhas_solicitacoes.empty? %>
   <div id="nome_usuario">
    Não há nenhuma solicitação sua pendente no momento. 
   </div>
<% end %>
<% for tarefa in @minhas_solicitacoes do  %>
    <% if nome_usuario!= tarefa.user.nome then %>
      <div id="nome_usuario"><%= tarefa.user.nome %> </div>
      <% nome_usuario = tarefa.user.nome %> 
    <% end %>
  
   <div id="tarefa">

    <% funcao = ""%>
    <% if tarefa.pausada %>
      <% @pausa = Pausa.da_tarefa(tarefa.id)%>
   <% end %>

  <% if tarefa.recusado %>
   <% funcao = "abre_alerta_recusado("+ tarefa.id.to_s + ");return false;"%>
   <div style="display:none;" id="form_tarefa_recusada_<%=tarefa.id.to_s%>">
     <%= render :partial=>'tarefa_recusada', :locals=>{:tarefa=>tarefa} %>
   </div>
  <% end %>

  <%  if tarefa.pausada_esperando_aprovacao %>
    <% funcao = "abre_form_aprovar_reprovar_pausa("+ tarefa.id.to_s + ");return false;"%>
	<div style="display:none;" id="form_aprovar_pausa_<%=tarefa.id.to_s%>">
      <%= render :partial=>'aprovar_reprovar_pausa', :locals=>{:tarefa=>tarefa} %>
    </div>
  <% end %>

  <% if tarefa.terminada_sem_comentario_do_solicitante %>
    <% funcao = "abre_form_avaliacao("+ tarefa.id.to_s + ");return false;" %>
    <div style="display:none;" id="abre_avaliacao_<%=tarefa.id.to_s%>">
      <%= render :partial=>'avaliacao', :locals=>{:tarefa=>tarefa} %>
    </div>
  <% end %>
  <% if funcao.blank? %>
    <% funcao = "toggle("+ tarefa.id.to_s + ","+ (tarefa.alerta_solicitante.nil? ? false : tarefa.alerta_solicitante).to_s + ", 'solicitante');" %>
  <% end %>

	 <span id="blink_<%=tarefa.id.to_s %>" >
       <a href="#" onClick="<%= funcao %>" ><span class="hyphenate" lang="pt"><%= tarefa.descricao %></span></a> <br>
     </span>
  
	<div style="display: none;" id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
        <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'esquerdo'} %>
        <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>
     </div>
 
   <% if tarefa.alerta_solicitante %>
     <% tag = '#blink_'+tarefa.id.to_s %>
     <%= javascript_tag "pulsar('"+tag+"')" %>
   <% end %>

 </div>

<% end %>

<% end %>