<% content_for :rightside do %>
    <% nome_usuario = ''%>
    <% if @minhas_solicitacoes.empty? %>
    <div id="nome_usuario">
        Não há nenhuma tarefa direcionada pra você no momento. 
    </div>
    <% end %>
    <% for tarefa in @minhas_tarefas do  %>
      <% if nome_usuario!= tarefa.solicitante.nome then %>
        <div id="nome_usuario"><%= tarefa.solicitante.nome %> </div>
        <% nome_usuario = tarefa.solicitante.nome %> 
      <% end %>
    <div id="tarefa">
        <%= 'blink' if tarefa.alerta %>

        <%= select_tag :andamento_id, options_for_select(@andamentos) %><br/>
        <a href="#" onClick="Effect.toggle('toggle_appear_<%= tarefa.id.to_s %>' , 'blind', { duration: 1.0 } ); return false;"><%= tarefa.descricao %></a>
    <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
        <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>
        <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
    </div>
</div>
<% end %>

<% end %>