<% content_for :lado_sem_usuario do %>
    <% nome_usuario = ''%>
    <% for tarefa in @tarefas_sem_usuario do  %>
      <div id="tarefa">
        <%= 'blink' if tarefa.alerta %>

        <a href="#" onClick="$('#encaminhar_<%= tarefa.id.to_s %>').toggle('blind', { percent: 0 },500 ); return false;"><span class="hyphenate" lang="pt"><%= tarefa.descricao %></span></a>
        <div style="display: none;"id="encaminhar_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
        <%= render :partial=>'form_encaminhar', :locals=>{:tarefa=>tarefa} %>
        </div>
      </div>
    <% end %>
<% end %>