<% for tarefa in @to_do_list do %>
<div id="tarefa">
  <span id="blink_<%=tarefa.id.to_s %>" >
  
    <a href="#" onClick="toggle(<%= tarefa.id %>, false ,'usuario')" ><%= tarefa.descricao %></a>
  </span>
  <div style="display: none;"id="toggle_appear_<%= tarefa.id.to_s %>" style="background:#F2F2F2;">
   <table>
	<tr>
		<td><p class="link"> <a href="#" onClick="abre_form_termino(<%=tarefa.id%>);return false;" style="text-decoration:none" OnMouseOver="document.stoptodo.src='images/stoph.png'" OnMouseOut="document.stoptodo.src='images/stop.png'"><Img Src="images/stop.png" Name="stop" Width="18" Height="10"Border=""><span>Finalizar</span></a></p>
  </td></tr></table>
    <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>tarefa, :lado=>'direito'} %>
    <%= render :partial=>'form_comentario', :locals=>{:tarefa=>tarefa} %>    
    
     <div style="display:none;" id="abre_termino_<%=tarefa.id.to_s%>">
         <%= render :partial=>'termino', :locals=>{:tarefa=>tarefa} %>
     </div>
     
  </div>
</div>
<% end %>