<% content_for :leftside do %>
   <%= render :partial=>"minhasSolicitacoes" %>
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"minhasTarefas" %>
<% end %>

<% content_for :main do%>
<h1>Cadastro de Tarefa</h1>
<br/>

<%= error_messages_for :tarefa %>

<% form_for(@tarefa) do |f| %>

<p>
  <b>Projetos</b><br />   
  
  <%= f.select  :projeto_id, @projetos,{:prompt=>"Selecione uma Opção"}  %>      
</p>
<p>
  <b>Usuário</b><br />   
  
  <%= f.select :user_id,@usuarios,{:prompt=>"Selecione uma Opção"} %>      
</p>
  <p>
    <b>Descrição</b><br/>
    <%= f.text_area :descricao, :cols=>60, :rows=>10 %>
  </p>



  <p>
    <b>Tempo est</b><br />   
       
    <%= f.text_field :tempo_est , :size=>4 %> horas     
  </p>

  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>

<%= link_to 'Voltar', tarefas_path %>
<% end %>