<% content_for :leftside do %>
   <%= render :partial=>"minhasSolicitacoes" %>
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"minhasTarefas" %>
<% end %>
<% content_for :lado_sem_usuario do %>
  <%= render :partial=>"tarefas_sem_usuario"%>
<% end %>
<% content_for :main do%>
<h1>Detalhes Sobre Tarefa</h1>
<br/>
<p/>
    <p>
        <b>Descrição:</b>
        <%= @tarefa.descricao %>
    </p>
<p>
  <b>Situação:</b>
  <%=h @tarefa.situacao.descricao %>
</p>

<p>
  <b>Projetos:</b>
  <%=h @tarefa.projeto.descricao %>
</p>

<p>
    <b>Solicitante :</b>
    <%=h @tarefa.solicitante.nome %>
</p>
<p>
  <b>Delegado a:</b>
  <%=h @tarefa.usuario.nome unless @tarefa.usuario.nil? %>
</p>

<p>
    <b>Tempo estimado:</b>
    <%=h @tarefa.tempo_est %> |
    <%= render :partial=>"situacao_da_pausa" %>
</p>


<p>
  <b>Avaliação:</b>
  <%=h @tarefa.avaliacao %>
</p>

<p>
    <b>Aberto em</b>
    <%= @tarefa.created_at %>
</p>

<!-- 
<%= link_to 'Alterar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
-->
</p>
<br/>

 <%= render :partial=>'form_comentario', :locals=>{:tarefa=>@tarefa} %>
    <%= render :partial=>'comentarios_de_uma_tarefa', :locals=>{:tarefa=>@tarefa, :lado=>'direito'} %>


<br/>
<div style="display: none;" id="pausar" style="background:#F2F2F2;">
    <%= render :partial=>'pausar', :locals=>{:tarefa=>@tarefa} %>
</div>
<br/>
<div style="display: none;" id="aprovar_reprovar" style="background:#F2F2F2;">
    <%= render :partial=>'aprovar_reprovar_pausa', :locals=>{:tarefa=>@tarefa} %>
</div>


<% end %>