<% content_for :main do%>
<h1>Detalhes Sobre Tarefa</h1>
<p>
<p>
  <b>Situacaos:</b>
  <%=h @tarefa.situacao.descricao %>
</p>

<p>
  <b>Projetos:</b>
  <%=h @tarefa.projeto.descricao %>
</p>

<p>
  <b>Usuarios:</b>
  <%=h @tarefa.usuario.nome %>
</p>

<p>
  <b>Tempo est:</b>
  <%=h @tarefa.tempo_est %>
</p>

<p>
  <b>Avaliacao:</b>
  <%=h @tarefa.avaliacao %>
</p>

<p>
	<b>Aberto em</b>
	<%= @tarefa.created_at %>
</p>


<%= link_to 'Alterar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
</p>
<% end %>