<% content_for :leftside do %>
   <%= render :partial=>"minhasSolicitacoes" %>
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"minhasTarefas" %>
<% end %>
<% content_for :lado_sem_usuario do %>
  <%= render :partial=>"tarefas_sem_usuario"%>
<% end %>
<% content_for :main do%>
<h1>Detalhes Sobre Tarefa</h1>
<br/>
<p/>
    <p>
        <b>Descrição:</b>
        <%= @tarefa.descricao %>
    </p>
<p>
  <b>Situação:</b>
  <%=h @tarefa.situacao.descricao %>
</p>

<p>
  <b>Projetos:</b>
  <%=h @tarefa.projeto.descricao %>
</p>

<p>
  <b>Delegado a:</b>
  <%=h @tarefa.usuario.nome unless @tarefa.usuario.nil? %>
</p>

<p>
  <b>Tempo estimado:</b>
  <%=h @tarefa.tempo_est %>
</p>

<p>
  <b>Avaliação:</b>
  <%=h @tarefa.avaliacao %>
</p>

<p>
    <b>Aberto em</b>
    <%= @tarefa.created_at %>
</p>


<%= link_to 'Alterar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
</p>
<br/>
<h1>Comentários</h1>
<%= link_to "novo comentário" , new_tarefa_comentario_url(@tarefa) %><br/>
<% for comentario in @comentarios  %>
  <%= comentario.usuario.nome %>
  <%= comentario.descricao %> | <%= link_to "alterar", edit_tarefa_comentario_url(@tarefa,comentario)%>
  <br/>
<% end %>
<% end %>