<% form_tag(:action=>:update, :controller=>'evaluations') do  %>
 <%= hidden_field_tag :task_id, task.id %>
 <%= hidden_field_tag :user_id, user.id %>

  <%= radio_button_tag(:evaluation, "1") %>
  <%= label_tag :evaluation_pessimo, :Ruim %>
  <%= radio_button_tag(:evaluation, "2") %>
  <%= label_tag :evaluation_pessimo, :Insuficiente %>
  <%= radio_button_tag(:evaluation, "3") %>
  <%= label_tag :evaluation_pessimo, :Suficiente %><br /><br />
  <%= radio_button_tag(:evaluation, "4") %>
  <%= label_tag :evaluation_pessimo, "Bom" %>
  <%= radio_button_tag(:evaluation, "5") %>
  <%= label_tag :evaluation_pessimo, :Ótimo %><br/><br/>
  <p>
   Comentário :<br/>
    <%= text_area_tag 'comment', '' ,:size=>"33x3" %>
  </p>
  <p>
    <br/><%= submit_tag "Avaliar task" %>

  </p>
<% end %>
