<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<p>
  <%= link_to 'Cadastrar Novo Message', new_message_path %>
</p>

<% form_tag search_messages_path() do  %>
  <%= t(:content) %>
  <%= text_field_tag h(:content), params[:content] %><br/>
  <%= t(:users) %>
  <%= select_tag :written_by,  options_for_select(@users) %><br/>
  <%= t(:the_date) %>  
  <%= select_month Date.today, :prefix=>:month , :include_blank=>true %>
  <%= select_year Date.today, :prefix=>:year , :include_blank=>true %><br/>

<br/>
  <%= submit_tag t(:search) %>

<% end %>
<table class="tableNegocios">
  <tbody>
  <%=  render(:partial => "header_list")  %>
  <%=  render(:partial => "message", :collection => @messages, :object => @export)  %>
  </tbody>
</table>

<br />

<% end %>

