<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<% form_for @message do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%=t(:user) %></b><br />   
    <%= f.select :user_id,@users,{:prompt=>"Selecione uma Opção"} %>      
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<% end %>