<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2><%= t(:new) + t(:message) %></h2>
<% form_for @message do |f| %>
  <%= f.error_messages %>
<fieldset>
	<legend><%= t(:user_filter) %></legend>
<table class="transparent" >
	<tr>
		<td width="130px"><%=t(:company)%></td>
		<td width="130px"><%=t(:projects) %></td>
		<td width="130px"><%=t(:user_group)%></td>
	</tr>
	<tr>
		<td><%= select_tag  :company_id, options_for_select(@companies), :include_blank=>:true, :onChange=>"populate_user_select('user_id');"  %> </td>
		<td><%= select_tag  :project_id, options_for_select(@projects),:onChange=>"populate_user_select('user_id');" %> </td>
		<td><%= select_tag  :user_group_id, options_for_select(@user_groups),:onChange=>"populate_user_select('user_id');" %> </td>
	</tr>
</table>
</fieldset>
<br/>
	<%=t(:user) %><br />  
	<%= select_tag :user_id,options_for_select(@users) , :multiple=>true %>      
  <p><br/>
    <%= f.label t(:content) %><br />
    <%= f.text_field h(:content) %>
  </p>
  <br/>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
<br/>
<%= link_to t(:back), tasks_path %>
<% end %>