<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2><%= t(:searching) + " " + t(:message).pluralize%></h2><br/>
<% form_tag search_messages_path() do  %>
<table class="transparent">
  <tr><td align="right"><%= t(:content) %> :</td>
  <td><%= text_field_tag h(:content), params[:content] %></td>
  </tr>
  <tr>
	<td align="right"><%= t(:users) %> :</td>
	<td><%= select "user", "id", @users, :include_blank=>true %></td>
  </tr>
  <tr>
	<td align="right"><%= t(:the_date) %> :</td>
	<td> <%= select_month @date , :include_blank=>true %>
		 <%= select_year @date , :date=>params[:date],:include_blank=>true %></td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
    <td><%= submit_tag t(:search), :name=>nil %></td>
  </tr>
</table>
<% end %>
<p>
<table>
	<tr>
		<th width="220px"><%=t(:message)%></th>
		<th width="130px"><%= t(:sent_by)%></th>
		<th width="100px"><%= t(:at)%></th>
		<th width="100px"><%= t(:readed)%></th>
	</tr>
<% for message in @messages%>
  <tr>
  	<td><%= message.content %></td>
    <td><%= message.written_by.name %></td>
    <td><%= message.created_at.strftime("%d/%m  %H:%M") %></td>
    <td><%= message.readed.strftime("%d/%m  %H:%M") unless message.readed.nil? %></td>
  </tr>
<% end %>
</table>
</p>
<% end %>