<h1>Editing comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :usuario_id %><br />
    <%= f.select :usuario_id,@users,{:prompt=>"Selecione uma Opção"} %>   
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:show), @comment %> |
<%= link_to t(:back), comments_path %>
