<h1>New comment</h1>
<%= @task.description %>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
 <%= f.hidden_field :task_id %>
  <p>
    <%= f.label :usuario_id %><br />
   <%= f.select :usuario_id,@users,{:prompt=>"Selecione uma Opção"} %>     
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', comments_path %>
