<h1>Alterar Usuarios has projeto</h1>

<%= error_messages_for :usuarios_has_projeto %>

<% form_for(@usuarios_has_projeto) do |f| %>
  <p>
    <b>Usuarios</b><br />   
    
    <%= f.select :usuarios_id,@usuarios,{:prompt=>"Selecione uma Opção"} %>      
  </p>

  <p>
    <b>Projetos</b><br />   
    
    <%= f.select :projetos_id,@projetos,{:prompt=>"Selecione uma Opção"} %>      
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @usuarios_has_projeto %> |
<%= link_to 'Voltar', usuarios_has_projetos_path %>
