<h1>Alterar Situacao</h1>

<%= error_messages_for :situacao %>

<% form_for(@situacao) do |f| %>
  <p>
    <b>Descricao</b><br />   
       
    <%= f.text_field :descricao %>     
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @situacao %> |
<%= link_to 'Voltar', situacaos_path %>
