<h1>Listando Situações</h1>

<table>
  <tr>
    <th width='200'>Descrição</th>
   
  </tr>

<% for situacao in @situacaos %>
  <tr>
    <td><%=h situacao.descricao %></td>
  
    <td><%= link_to 'Mostrar', situacao %></td>
    <td><%= link_to 'Alterar', edit_situacao_path(situacao) %></td>
    <td><%= link_to 'Excluir', situacao, :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova situação', new_situacao_path %>
