<h1>Listando Situacaos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Sigla</th>
  </tr>

<% for situacao in @situacaos %>
  <tr>
    <td><%=h situacao.descricao %></td>
    <td><%=h situacao.sigla %></td>
    <td><%= link_to 'Mostrar', situacao %></td>
    <td><%= link_to 'Alterar', edit_situacao_path(situacao) %></td>
    <td><%= link_to 'Excluir', situacao, :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar situacao', new_situacao_path %>
