<% @pause = Pause.from_task(task.id) %>

<br/> <%= t(:pause_request) %> : 
(<%= @pause.tempo_de_solicitacao %>)<br /><br/>
<%= t(:justification) %> : <%= @pause.justification unless @pause.nil? %><br/><br />
<% form_tag( :action=>:aprovar_ou_reprovar_pause, :controller=>'tasks') do %>
 <%= hidden_field_tag :task_id, task.id %>
  <p>
   <%= t(:comment).capitalize %>: <br/> <%= text_area_tag(:comment, '', :size=>"21x3") %>  
<br/><br />
   <%= submit_tag t(:aprouve) %>  <%= submit_tag t(:disaprouve), :name=>"reprovar" %>
  </p>
<% end %>
