<% content_for :leftside do %>
<% nome_usuario = ''%>
<% if @minhas_solicitacoes.empty? %>
   <div id="nome_usuario">
    <%=t(:no_solicitations) %>
   </div>
<% end %>
<% for task in @minhas_solicitacoes do  %>
    <% if nome_usuario!= task.user.nome then %>
      <div id="nome_usuario"><%= task.user.nome %> </div>
      <% nome_usuario = task.user.nome %> 
    <% end %>
  
   <div id="task">

    <% funcao = ""%>
    <% if task.pausada %>
      <% @pausa = Pausa.da_task(task.id)%>
   <% end %>

  <% if task.recusada %>
   <% funcao = "abre_alerta_recusado("+ task.id.to_s + ");return false;"%>
   <div style="display:none;" id="form_task_recusada_<%=task.id.to_s%>">
     <%= render :partial=>'tasks/task_recusada', :locals=>{:task=>task} %>
   </div>
  <% end %>

  <%  if task.pausada_esperando_aprovacao %>
    <% funcao = "abre_form_aprovar_reprovar_pausa("+ task.id.to_s + ");return false;"%>
	<div style="display:none;" id="form_aprovar_pausa_<%=task.id.to_s%>">
      <%= render :partial=>'tasks/aprovar_reprovar_pausa', :locals=>{:task=>task} %>
    </div>
  <% end %>

  <% if task.terminada_sem_comentario_do_solicitante %>
    <% funcao = "abre_form_avaliacao("+ task.id.to_s + ");return false;" %>
    <div style="display:none;" id="abre_avaliacao_<%=task.id.to_s%>">
     <%= render :partial=>'avaliacao/form_avaliacao', :locals=>{:task=>task, :user=>task.user} %> 
    </div>
  <% end %>
  <% if funcao.blank? %>
    <% funcao = "toggle("+ task.id.to_s + ","+ (task.alerta_solicitante.nil? ? false : task.alerta_solicitante).to_s + ", 'solicitante');" %>
  <% end %>

	 <span id="blink_<%=task.id.to_s %>" >
	   <a href="#"  title="Detalhes da task" onClick="detalhe_task(<%= task.id %>);"><%= image_tag "info.png", :border=>0 %></a>
       <a href="#" onClick="<%= funcao %>" ><span class="hyphenate" lang="pt"><%= task.descricao %></span></a> <br>
     </span>
  
	<div style="display: none;" id="toggle_appear_<%= task.id.to_s %>" style="background:#F2F2F2;">
        <%= render :partial=>'tasks/comentarios_de_uma_task', :locals=>{:task=>task, :lado=>'esquerdo'} %>
        <%= render :partial=>'tasks/form_comentario', :locals=>{:task=>task} %>
     </div>

	 <div style="display:none;" id="form_detalhe_<%=task.id.to_s%>">
	       <%= render :partial=>'tasks/detalhes_da_task', :locals=>{:task=>task} %>
	   </div>
 
   <% if task.alerta_solicitante %>
     <% tag = '#blink_'+task.id.to_s %>
     <%= javascript_tag "pulsar('"+tag+"')" %>
   <% end %>

 </div>

<% end %>

<% end %>