<% content_for :rightside do %>
    <% name_usuario = ''%>
    <% if  @my_tasks.empty? %>
    <div id="name_usuario">
        <%=t(:no_task)%> 
    </div>
    <% end %>
    <% for task in @my_tasks do  %>

      <% if name_usuario!= task.requestor.name then %>
        <div id="name_usuario"><%= task.requestor.name %> </div>
        <span id="user_id_<%=task.requestor.id%>"></span>
        <% name_usuario = task.requestor.name %> 
      <% end %>

    <div id="task">

    <a href="#"  title="Detalhes da task" onClick="task_detail(<%= task.id %>);"><%= image_tag "info.png", :border=>0 %></a>
    <span id="blink_<%=task.id.to_s %>" >
 
      <a href="#" onClick=toggle(<%= task.id %>,<%= task.user_alert.nil? ? false : task.user_alert %>,'usuario') ><span class"hyphanate" lang="pt"><%= task.description %></span></a>
    </span>

    <div style="display: none;"id="toggle_appear_<%= task.id.to_s %>" style="background:#F2F2F2;">
    
        <table width="80" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
        <td height= "20" align="botton" ><p class="link"><a href="#" onClick="abre_form_recusa(<%=task.id%>);return false;" style="text-decoration:none" OnMouseOver="document.devolver.src='images/backwardh.png'" OnMouseOut="document.devolver.src='images/backward.png'">
        <Img Src="images/backward.png" Name="devolver" Width="18" Height="10" Border=""><span>Não aceitar esta task</span></a></p></td>
         
    
        <% if task.paused_esperando_aprovacao %>
<% #TODO o aue fazer se ele continua a task antes de aprovar ou não a pause ? %>
           <td height= "20" align="botton" align="botton"><a href="#"><img src="/images/play.png" border=0 /></td>
        <% end %>

        <% if task.paused  %>
           <% rota = "/tasks/reiniciar_a_task?task_id=" + task.id.to_s  %>
    <td height= "20" align="botton"><p class="link"> <a href=<%=rota%> style="text-decoration:none" OnMouseOver="document.play.src='images/playh.png'" OnMouseOut="document.play.src='images/pause.png'"><Img Src="images/pause.png" Name="play" Width="18" Height="10"Border=""><span>Reiniciar esta task</span></a></p></td>
        <% end %>

        <% if task.sem_pause || task.pause_nao_aceita %>
          <td height= "20" align="botton"><p class="link"> <a href="#" onClick="abre_form_pause(<%=task.id%>);return false;"  style="text-decoration:none" OnMouseOver="document.pause.src='images/pauseh.png'" OnMouseOut="document.pause.src='images/play.png'"><Img Src="images/play.png" Name="pause" Width="18" Height="10"Border=""><span>Pausar esta task</span></a></p></td>
        <% end %>

<td height= "20" align="botton" ><p class="link"><a Href="#" style="text-decoration:none" OnMouseOver="document.foward.src='images/fowardh.png'" OnMouseOut="document.foward.src='images/foward.png'"><Img Src="images/foward.png" Name="foward" Width="18" Height="10"Border=""><span>Reencaminhar</span></a></p></td>
    
       <td height= "20" align="botton"><p class="link"> <a href="#" onClick="abre_form_end(<%=task.id%>);return false;" style="text-decoration:none" OnMouseOver="document.stop.src='images/stoph.png'" OnMouseOut="document.stop.src='images/stop.png'"><Img Src="images/stop.png" Name="stop" Width="18" Height="10"Border=""><span>Finalizar</span></a></p></td>


      
         </tr>
   </table>

        <%= render :partial=>'task_comments', :locals=>{:task=>task, :lado=>'direito'} %>
        <%= render :partial=>'comment_form', :locals=>{:task=>task} %>    
    </div>
   
   <div style="display:none;" id="detail_form_<%=task.id.to_s%>">
       <%= render :partial=>'task_details', :locals=>{:task=>task} %>
   </div>


   <div style="display:none;" id="form_recusa_<%=task.id.to_s%>">
       <%= render :partial=>'refuse', :locals=>{:task=>task} %>
   </div>


   <div style="display:none;" id="form_pause_<%=task.id.to_s%>">
      <%= render :partial=>'pause', :locals=>{:task=>task, :lado=>'direito'} %>
   </div>

        <div style="display:none;" id="abre_end_<%=task.id.to_s%>">
             <%= render :partial=>'close_task', :locals=>{:task=>task} %>
        </div>

    <% if task.user_alert %>
         <% tag = '#blink_'+task.id.to_s %>
         <%= javascript_tag "pulsar('"+tag+"')" %>
       <% end %>
</div>
<% end %>

<% end %>
<br>