<% content_for :leftside do %>
<% name_usuario = ''%>
<% if @my_requests.empty? %>
   <div id="name_usuario">
    <%=t(:no_solicitations) %>
   </div>
<% end %>
<% for task in @my_requests do  %>
    <% if name_usuario!= task.user.name then %>
      <div id="name_usuario"><%= task.user.name %> </div>
      <% name_usuario = task.user.name %> 
    <% end %>
  
   <div id="task">

    <% funcao = ""%>
    <% if task.paused %>
      <% @pause = Pause.da_task(task.id)%>
   <% end %>

  <% if task.refused %>
   <% funcao = "abre_alerta_recusado("+ task.id.to_s + ");return false;"%>
   <div style="display:none;" id="form_task_refused_<%=task.id.to_s%>">
     <%= render :partial=>'tasks/task_refused', :locals=>{:task=>task} %>
   </div>
  <% end %>

  <%  if task.paused_esperando_aprovacao %>
    <% funcao = "abre_form_approuve_disapprove_pause("+ task.id.to_s + ");return false;"%>
	<div style="display:none;" id="form_aprovar_pause_<%=task.id.to_s%>">
      <%= render :partial=>'tasks/approuve_disapprove_pause', :locals=>{:task=>task} %>
    </div>
  <% end %>

  <% if task.terminada_sem_comment_do_requestor %>
    <% funcao = "abre_form_evaluation("+ task.id.to_s + ");return false;" %>
    <div style="display:none;" id="abre_evaluation_<%=task.id.to_s%>">
     <%= render :partial=>'evaluation/form_evaluation', :locals=>{:task=>task, :user=>task.user} %> 
    </div>
  <% end %>
  <% if funcao.blank? %>
    <% funcao = "toggle("+ task.id.to_s + ","+ (task.requestor_alert.nil? ? false : task.requestor_alert).to_s + ", 'requestor');" %>
  <% end %>
	 <span id="blink_<%=task.id.to_s %>" >
	   <a href="#"  title="Detalhes da task" onClick="detalhe_task(<%= task.id %>);"><%= image_tag "info.png", :border=>0 %></a>
       <a href="#" onClick="<%= funcao %>" ><span class="hyphenate" lang="pt"><%= task.description %></span></a> <br>
     </span>

	<div style="display: none;" id="toggle_appear_<%= task.id.to_s %>" style="background:#F2F2F2;">
        <%= render :partial=>'tasks/task_comments', :locals=>{:task=>task, :lado=>'esquerdo'} %>
        <%= render :partial=>'tasks/comment_form', :locals=>{:task=>task} %>
     </div>

	 <div style="display:none;" id="form_detalhe_<%=task.id.to_s%>">
	       <%= render :partial=>'tasks/task_details', :locals=>{:task=>task} %>
	   </div>
 
   <% if task.requestor_alert %>
     <% tag = '#blink_'+task.id.to_s %>
     <%= javascript_tag "pulsar('"+tag+"')" %>
   <% end %>

 </div>

<% end %>

<% end %>