<% content_for :lado_sem_usuario do %>
    <% name_usuario = ''%>
    <% for task in @tasks_without_user do  %>
      <div id="task">
        <%= 'blink' if task.requestor_alert %>

        <a href="#"  title="Detalhes da tarefa" onClick="task_detail(<%= task.id %>);"><%= image_tag "info.png", :border=>0 %></a> <a href="#" onClick="$('#encaminhar_<%= task.id.to_s %>').toggle('blind', { percent: 0 },500 ); return false;"><span class="hyphenate" lang="pt"><%= task.description %></span></a>
        <div style="display: none;"id="encaminhar_<%= task.id.to_s %>" style="background:#d3d3d3;">
        <%= render :partial=>'tasks/form_encaminhar', :locals=>{:task=>task} %>
        </div>

	 <div style="display:none;" id="detail_form_<%=task.id.to_s%>">
	       <%= render :partial=>'tasks/task_details', :locals=>{:task=>task} %>
	   </div>

      </div>
    <% end %>
<% end %>