<p>
    <b><%=t(:description)%>:</b>
    <%= task.description %>
</p>
<br/>
<p>
	<b><%=t(:project)%>:</b>
	<%= task.project.name unless task.project.nil?%>
</p>
<br/>
<p>
	<b><%=t(:start_at)%>:</b>
	<%= task.start_at.to_time.to_s(:short) %>
	<% #TODO internacionalizar a saida do campo start_at %>
</p>
<br/>
<p>
	<b>Solicitado hรก <%= task.tempo_decorrido %> </b>
</p>
<span style = float:right;>
<%= link_to t(:edit), edit_task_path(task.id) %></span>