    	<div id="task_<%=task.id%>" class="task">
    <a href="#"  title="Detalhes da task" onClick="task_detail(<%= task.id %>);"><%= image_tag "info.png", :border=>0 %></a>
    <span id="blink_<%=task.id.to_s %>" >
      <span id="link_toggle_<%=task.id.to_s %>">
        <a href="#" onClick=toggle(<%= task.id %>,<%= task.user_alert.nil? ? false : task.user_alert %>,'usuario') >
	  </span>
	  <span class"hyphanate" lang="pt"><%= task.description %></span></a>
    </span>

    <div style="display: none;"id="toggle_appear_<%= task.id.to_s %>" style="background:#d3d3d3;">
    
        <table style="background-color:#d3d3d3"width="80" border="0" cellspacing="0" cellpadding="0" class="transparent">
                                      <tr>
<td height= "20" align="botton" ><p class="link"><a href="#" onClick="abre_form_recusa(<%=task.id%>);return false;" style="text-decoration:none" OnMouseOver="document.devolver.src='images/backwardh.png'" OnMouseOut="document.devolver.src='images/backward.png'">
        <Img Src="images/backward.png" Name="devolver" Width="18" Height="10" Border=""><span>Não aceitar a  tarefa</span></a></p></td>
         
    
        <% if task.paused_esperando_aprovacao %>
<% #TODO o aue fazer se ele continua a task antes de aprovar ou não a pause ? %>
           <td height= "20" align="botton" align="botton"><a href="#"><img src="/images/play.png" border=0 /></td>
        <% end %>

        <% if task.paused  %>
           <% rota = "/tasks/reiniciar_a_task?task_id=" + task.id.to_s  %>
<td height= "20" align="botton"><p class="link"> <a href=<%=rota%> style="text-decoration:none" OnMouseOver="document.play.src='images/playh.png'" OnMouseOut="document.play.src='images/pause.png'"><Img Src="images/pause.png" Name="play" Width="18" Height="10"Border=""><span>Reiniciar</span></a></p></td>
        <% end %>

        <% if task.sem_pause || task.pause_nao_aceita %>
<td height= "20" align="botton"><p class="link"> <a href="#" onClick="abre_form_pause(<%=task.id%>);return false;"  style="text-decoration:none" OnMouseOver="document.pause.src='images/pauseh.png'" OnMouseOut="document.pause.src='images/play.png'"><Img Src="images/play.png" Name="pause" Width="18" Height="10"Border=""><span>Pausar</span></a></p></td>
        <% end %>

<td height= "20" align="botton" ><p class="link"><a Href="#" style="text-decoration:none"
OnMouseOver="document.foward.src='images/fowardh.png'" OnMouseOut="document.foward.src='images/foward.png'"><img src="images/foward.png" Name="foward" Width="18" Height="10"Border=""><span>Reencaminhar</span></a></p></td>

    
<td height= "20" align="botton"><p class="link"> <a href="#" onClick="abre_form_end(<%=task.id%>);return false;" style="text-decoration:none" OnMouseOver="document.stop.src='images/stoph.png'" OnMouseOut="document.stop.src='images/stop.png'"><Img Src="images/stop.png" Name="stop" Width="18" Height="10"Border=""><span>Finalizar</span></a></p></td>


      
         </tr>
   </table>

        <%= render :partial=>'tasks/task_comments', :locals=>{:task=>task, :lado=>'direito'} %>
        <%= render :partial=>'tasks/comment_form', :locals=>{:task=>task} %>    
    </div>
   
   <div style="display:none;" id="detail_form_<%=task.id.to_s%>">
       <%= render :partial=>'tasks/task_details', :locals=>{:task=>task} %>
   </div>


   <div style="display:none;" id="form_recusa_<%=task.id.to_s%>">
       <%= render :partial=>'tasks/refuse', :locals=>{:task=>task} %>
   </div>


   <div style="display:none;" id="form_pause_<%=task.id.to_s%>">
      <%= render :partial=>'tasks/pause', :locals=>{:task=>task, :lado=>'direito'} %>
   </div>

        <div style="display:none;" id="abre_end_<%=task.id.to_s%>">
             <%= render :partial=>'tasks/close_task', :locals=>{:task=>task} %>
        </div>

    <% if task.user_alert %>
         <% tag = '#blink_'+task.id.to_s %>
         <%= javascript_tag "pulsar('"+tag+"')" %>
       <% end %>
</div>