<p>
    <b><%=t(:description)%>:</b>
    <%= task.description %>
</p>
<br/>
<p>
	<b><%=t(:project)%>:</b>
	<%= task.project.name %>
</p>
<br/>
<p>
	<b>Solicitado hรก <%= task.tempo_decorrido %> </b>
</p>