<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1>Alterar Task</h1>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>
  <p>
   <b><%=t(:project) %></b><br />   
   <%= f.select :project_id,@projects %>      
  </p>
  <p>
  	<b><%= t(:start_at) %></b><br/>
    <%= f.datetime_select :start_at,  :order=>[:day,:month,:year] %>
  </p>
  <p>
	<b><%= t(:description) %></b><br/>
	<%= f.text_area :description, :cols=>60, :rows=>10 %>
	<% #, :disabled=>@task.usuario_que_criou(@usuario_logado.id) %>
  </p>
  
  <p>
    <b><%=t(:user) %></b><br />   
    <%= f.select :user_id,@users %> 
  </p>
  <p>
    <b><%= t(:estimated_time)%></b><br/>   
    <%= f.text_field h(:estimated_time) %>     
  </p>
  <br/>
  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>

<%= link_to 'Mostrar', @task %>
<%= link_to t(:back), tasks_path %>
<% end %>