<% content_for :leftside do %>
   <%= render :partial=>"my_requests" %>
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"my_taskss" %>
<% end %>
<% content_for :main do %>
<h1>Alterar Task</h1>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>
<p>
   <b>Projetos</b><br />   
   
   <%= f.select :projeto_id,@projetos,{:prompt=>"Selecione uma Opção"} %>      
 </p>
  <p>
	<b>Descrição</b><br/>
	<%= f.text_area :description, :cols=>60, :rows=>10 , :disabled=>@task.usuario_que_criou(@usuario_logado.id) %>
  </p>
  
  <p>
    <b>Situação</b><br />   
    <%= f.select :situacao_id,@situacaos,{:prompt=>"Selecione uma Opção"} %>  | <%= @task.situacao_id  %>
  </p>

  <p>
    <b>Delegado a : </b><br />   
    <%= f.select :usuario_id,@usuarios,{:prompt=>"Selecione uma Opção"} %>   | <%=  @task.usuario_id %>
  </p>

  <p>
    <b>Tempo est</b><br />   
       
    <%= f.text_field :estimated_time %>     
  </p>

  <p>
    <b>Evaluation</b><br />   
       
    <%= f.text_field :evaluation %>     
  </p>
  <br/>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @task %> |
<%= link_to 'Voltar', tasks_path %>
<% end %>