<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<h1><%= t(:new_task)%></h1>
<br/>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>

<p>
	<table class="transparent">
		<tr>
			<td width="130px"><%=t(:company)%></td>
			<td width="130px"><%=t(:projects) %></td>
			<td width="130px"><%=t(:user_group)%></td>
		</tr>
		<tr>
			<td><%= select_tag  :company_id, options_for_select(@companies), :include_blank=>:true, :onChange=>"project_selected('message_user_id');"  %> </td>
			<td><%= select_tag  :project_id, options_for_select(@projects),:onChange=>"project_selected('message_user_id');" %> </td>
			<td><%= select_tag  :user_group_id, options_for_select(@user_groups),:onChange=>"project_selected('message_user_id');" %> </td>
		</tr>
	</table>
       
</p>
<div id="user_select"  >
<p>
  <b><%=t(:user) %></b><br />   
  
  <%= f.select :user_id, @users,{:prompt=>"Selecione um colaborador",:options=>{:id=>"task_user_id"}} %>      
</p>

  <p>
  	<b><%= t(:start_at) %></b><br/>
    <%= f.datetime_select :start_at,  :order=>[:day,:month,:year] %>
  </p>
  <p>
    <b><%= t(:description) %></b><br/>
    <%= f.text_area :description, :cols=>60, :rows=>10 %>
  </p>
  <p>
    <b><%= t(:estimated_time)%></b><br />   
       
    <%= f.text_field h(:estimated_time) , :size=>4 %> <%= t(:hours) %>     
  </p>
  <br/>
  <p>
    <%= f.submit t(:save) %>
  </p>
</div>
<% end %>
<br/>
<%= link_to t(:back), tasks_path %>
<% end %>