<% content_for :leftside do %>
   <%= render :partial=>"minhasSolicitacoes" %>
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"minhas_tasks" %>
<% end %>

<% content_for :main do%>
<h1><%= t(:new_task)%></h1>
<br/>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>

<p>
  <b><%=t(:projects) %></b><br />   
  
  <%= f.select  :project_id, @projetos,{:prompt=>"Selecione uma Opção"}  %>      
</p>
<p>
  <b><%=t(:user) %></b><br />   
  
  <%= f.select :user_id,@usuarios,{:prompt=>"Selecione uma Opção"} %>      
</p>
  <p>
    <b><%= t(:description) %></b><br/>
    <%= f.text_area :descricao, :cols=>60, :rows=>10 %>
  </p>



  <p>
    <b><%= t(:estimated_time)%></b><br />   
       
    <%= f.text_field :tempo_est , :size=>4 %> <%= t(:hours) %>     
  </p>
  <br/>
  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>
<br/>
<%= link_to t(:back), tasks_path %>
<% end %>