<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<h1><%= t(:new_task)%></h1>
<br/>
<% form_for @task do |f| %>
<%= error_messages_for :task %>

<div id="user_filter">
  <fieldset>
    <legend>pesquisa paciente </legend>
  <table class="transparent">
    <tr>
      <td width="130px"><%=t(:company)%></td>
      <td width="130px"><%=t(:projects) %></td>
      <td width="130px"><%=t(:user_group)%></td>
    </tr>
    <tr>
      <td><%= select_tag  :company_id, options_for_select(@companies), :include_blank=>:true, :onChange=>"project_selected('message_user_id');"  %> </td>
      <td><%= select_tag  :project_id, options_for_select(@projects),:onChange=>"project_selected('message_user_id');" %> </td>
      <td><%= select_tag  :user_group_id, options_for_select(@user_groups),:onChange=>"project_selected('message_user_id');" %> </td>
    </tr>
  </table>
  </fieldset>
</div>
<div id="user_select"  >
<p>
  <b><%=t(:user) %></b> <a href="#" onclick="$('#user_filter').show();">filtro</a><br />   <br/>
  
  <%= f.select :user_id, @users,{:prompt=>"Selecione um colaborador",:options=>{:id=>"task_user_id"}} %>    <br/> <br/> 
</p>

  <p>
    <b><%= t(:start_at) %></b><br/>

<!--    <%= f.datetime_select :start_at,  :order=>[:day,:month,:year] %> -->
    <%= f.text_field :start_at_br, :class => 'datetime' %>
  </p><br/><br/>
  <p>
    <b><%= t(:description) %></b><br/><br/>
    <%= f.text_area :description, :cols=>60, :rows=>10 %>
  </p>
  <p>
    <b><%= t(:estimated_time)%></b><br />   <br/>
       
    <%= f.text_field h(:estimated_time) , :size=>4 %>        <%= t(:hours) %>     
  </p>

 <br/><br/><br/>

  <p>

  </p>
</div>

<%= link_to t(:back), tasks_path, :class => "awesome small blue button"%>
<%= f.submit t(:save), :class => 'awesome small blue button'%>
<% end %>
<br/>

<% end %>
