<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
  <h2><%= t(:searching_tasks) %></h2><br/>
  <% form_tag search_tasks_path() do  %>
    <%= radio_button_tag :user , :requestor, params[:user]=="requestor" %>
    <%= label_tag :user_requestor, t(:requestor) %>
    <%= radio_button_tag :user , :user , params[:user]=="user" %>
    <%= label_tag :user_user, t(:for_me) %>
    <br/><br/>
    <%= label_tag t(:content)%>
    <%= text_field_tag :content, params[:content], :size=>20 %><br/><br/>
    <%= submit_tag t(:search) %>
  <% end %>
<p><br/>
<table>
	<tr>
		<th width="200px"><%= t(:description)%></th>
		<th><%= params[:user]=="user"? t(:requested_by): t(:solicitated_for) %></th>
		<th><%= t(:start_at)%></th>
		<th>Status</th>
	</tr>
  <% @tasks_list.each() do |task|  %>
    <tr>
    	<td><%= task.description %></td>
        <td><%= params[:user]=="user"? task.requestor.name : task.user.name%></td>
        <td><%= task.start_at.to_s(:short) %></td>
        <td><%= task.status%></td>
    </tr>
  <% end %>
</table>
</p>
<% end %>