<%= render :partial=>"layouts/moldura" %>

<% content_for :main do%>
<h1>Detalhes Sobre Task</h1>
<br/>
<p/>
    <p>
        <b>Descrição:</b>
        <%= @task.description %>
    </p>
<p>
  <b>Situação:</b>
  <%=h @task.situacao.description %>
</p>

<p>
  <b>Projetos:</b>
  <%=h @task.projeto.description %>
</p>

<p>
    <b>Solicitante :</b>
    <%=h @task.requestor.login %>
</p>
<p>
  <b>Delegado a:</b>
  <%=h @task.user.name unless @task.user.nil? %>
</p>

<p>
    <b>Tempo estimado:</b>
    <%=h @task.estimated_time %> |
    <%= render :partial=>"pause_status" %>
</p>


<p>
  <b>Avaliação:</b>
  <%=h @task.evaluation %>
</p>

<p>
    <b>Aberto em</b>
    <%= @task.created_at %>
</p>

<!-- 
<%= link_to 'Alterar', edit_task_path(@task) %> |
<%= link_to t(:back), tasks_path %>
-->
</p>
<br/>

 <%= render :partial=>'comment_form', :locals=>{:task=>@task} %>
    <%= render :partial=>'task_comments', :locals=>{:task=>@task, :lado=>'direito'} %>


<br/>
<div style="display: none;" id="pauser" style="background:#F2F2F2;">
    <%= render :partial=>'pauser', :locals=>{:task=>@task} %>
</div>
<br/>
<div style="display: none;" id="aprovar_reprovar" style="background:#F2F2F2;">
    <%= render :partial=>'approuve_disapprove_pause', :locals=>{:task=>@task} %>
</div>


<% end %>