<h1>New comentario</h1>
<%= @tarefa.descricao %>

<% form_for(@comentario) do |f| %>
  <%= f.error_messages %>
 <%= f.hidden_field :tarefa_id %>
  <p>
    <%= f.label :usuario_id %><br />
   <%= f.select :usuario_id,@usuarios,{:prompt=>"Selecione uma Opção"} %>     
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', comentarios_path %>
