<% #TODO colcoar resfull aqui %>
<% form_tag(:action=>:update, :controller=>'avaliacaos') do  %>
 <%= hidden_field_tag :task_id, task.id %>
 <%= hidden_field_tag :user_id, user.id %>

  <%= radio_button_tag (:avaliacao, "1") %>
  <%= label_tag :avaliacao_pessimo, :Ruim %>
  <%= radio_button_tag (:avaliacao, "2") %>
  <%= label_tag :avaliacao_pessimo, :Insuficiente %>
  <%= radio_button_tag (:avaliacao, "3") %>
  <%= label_tag :avaliacao_pessimo, :Suficiente %><br /><br />
  <%= radio_button_tag (:avaliacao, "4") %>
  <%= label_tag :avaliacao_pessimo, "Bom" %>
  <%= radio_button_tag (:avaliacao, "5") %>
  <%= label_tag :avaliacao_pessimo, :Ótimo %><br/><br/>
  <p>
   Comentário :<br/>
    <%= text_area_tag 'comentario_avaliacao', '' ,:size=>"33x3" %>
  </p>
  <p>
    <br/><%= submit_tag "Avaliar task" %>

  </p>
<% end %>
