<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:user_groups) %></h1>
<form class="jqtransform"> 
<table width="520">
  <tr>
    <th><%= t(:name) %></th>
    <th>&nbsp;</th>
    <th width="20">&nbsp;</th>
    <th width="20">&nbsp;</th>
    <th width="20">&nbsp;</th>
  </tr>

<% @user_groups.each do |user_group| %>
  <tr>
    <td><%=h user_group.name %></td>
    <td><%= link_to t(:manage_users), manage_users_user_groups_path(:id=>user_group.id) %></td>
    <td><%= link_to image_tag("info.png", :size=>"16x16", :border=>0), user_group %></td>
    <td><%= link_to image_tag("edit.png", :size=>"16x16", :border=>0), edit_user_group_path(user_group) %></td>
    <td><%= link_to image_tag("trash.png",:size=>"16x16", :border=>0), user_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_user_group), new_user_group_path %>

<% end %>
</form>