<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:user_groups) %></h1>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:active) %></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @user_groups.each do |user_group| %>
  <tr>
    <td><%=h user_group.name %></td>
    <td><%=h user_group.active %></td>
    <td><%= link_to t(:manage_users), manage_users_user_groups_path(:id=>user_group.id) %></td>
    <td><%= link_to t(:show), user_group %></td>
    <td><%= link_to t(:edit), edit_user_group_path(user_group) %></td>
    <td><%= link_to t(:destroy), user_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_user_group), new_user_group_path %>

<% end %>