<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:new) + t(:user_group) %></h1>
<form class="jqtransform"> 
<% form_for(@user_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field h(:name) %>
  </p><br/>
  <p>
    <%= f.check_box :active %>&nbsp;<%= f.label t(:active) %><br />
  </p><br/>
  <p>

	
	<br/><br/>

<%= link_to t(:back), user_groups_path, :class => "awesome large blue button" %>
    <%= f.submit t(:create), :class => "awesome large blue button" %>
  </p><br/>
<% end %>


<% end %>
</form>