<h1>Alterar Permissao</h1>

<%= error_messages_for :permissao %>

<% form_for(@permissao) do |f| %>
  <p>
    <b>Descricao</b><br />   
       
    <%= f.text_field :descricao %>     
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @permissao %> |
<%= link_to 'Voltar', permissaos_path %>
