<h1>Listando Permissaos</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% for permissao in @permissaos %>
  <tr>
    <td><%=h permissao.descricao %></td>
    <td><%= link_to 'Mostrar', permissao %></td>
    <td><%= link_to 'Alterar', edit_permissao_path(permissao) %></td>
    <td><%= link_to 'Excluir', permissao, :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar permissao', new_permissao_path %>
