<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2><%= t(:change_password)%></h2><br/>
<% form_for(@user) do |f| %>
<%= t(:name) %> : <%= @user.name %><br/><br/>
<%= f.label :password %><br />
<%= f.password_field :password %><br />
<br/>
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %><br />
<br/>
  <%= f.submit "Update" %>
<% end %>
<% end %>