<% content_for :main do %>
<h1>Edit My Account</h1>
<% form_for(@user) do |f| %>
<%= @user.name %><br/>
<%= f.label :password %><br />
<%= f.password_field :password %><br />
<br/>
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %><br />
<br/>
  <%= f.submit "Update" %>
<% end %>
<% end %>