<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<form class="jqtransform"> 
	<h1><%= t(:change_password)%></h1><br/>
<% form_for(@user) do |f| %>
<%= t(:name) %> : <%= @user.name %><br/><br/>
<%= f.label t(:password) %><br />
<%= f.password_field :password %><br />
<br/>
<%= f.label t(:password_confirmation) %><br />
<%= f.password_field :password_confirmation %><br />
<br/><br/><br/>
</form>
 <%= link_to t(:back), edit_user_path(@user), :class => 'awesome large blue button' %>
 <%= f.submit t(:update), :class => 'awesome large blue button' %>
<br/><br/>

<% end %>
<% end %>
