<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2><%= t(:edit).capitalize + " "  +t(:user) %></h2>
 <br/>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field h(:login) %><br />
  <br />

  <%= f.label t(:name) %><br />
  <%= f.text_field h(:name) %><br />
  <br />
  <%= f.label :email %><br />
  <%= f.text_field h(:email) %><br />
<br/>

  <% if current_user.role.level==0%>
    <%= f.label t(:role) %><br/>
    <%= f.select :role_id, @roles %><br/>
    <br/>
  <% end %>
<%= f.label t(:company) %><br/>
<%= f.select :company_id, @companies %>
<br/>
<br/>
<%= f.radio_button :preferred_language, "pt-BR" %>
<%= f.label("preferred_language_pt-BR" , :portugues) %>&nbsp;&nbsp;
<%= f.radio_button :preferred_language, "en" %>
<%= f.label("preferred_language_en" , :english) %>
<br/><br/>  <%= f.submit t(:update) %>
<% end %>
 
<br />
<%= link_to t(:back), users_path %> |
<%= link_to t(:change_password) , change_password_user_path(@user) %>
<% end %>