<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2>Edit My Account</h2>
 <br/>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />

  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <br />
  <% if current_user.category.name.downcase=="gestor"%>
    <%= f.label :category%><br/>
    <%= f.select :category_id, @categories %><br/>
    <br/>
  <% end %>
<%= f.label :Company%><br/>
<%= f.select :company_id, @companies %>
<br/>
  <%= f.submit "Update" %>
<% end %>
 
<br />
<%= link_to "Back", :back%> |
<%= link_to " change password", change_password_user_path(@user) %>
<% end %>