<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h2><%= t(:edit).capitalize + " "  +t(:user) %></h2>
 <br/>

 
<% form_for @user, :html=>{:class=>"jNice"} do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field h(:login) %><br />
  <br />

  <%= f.label t(:name) %><br />
  <%= f.text_field h(:name) %><br />
  <br />
  <%= f.label :email %><br />
  <%= f.text_field h(:email) %><br />
<br/>

  <% if current_user.role.level==0%>
    <%= f.label t(:role) %><br/>
    <%= f.select :role_id, @roles %>
    <br/>
  <% end %>
<%= f.label t(:company) %><br/>
<%= f.select :company_id, @companies %>
<br/>
<br/>
<%= f.label t(:preferred_language) %><br/>
<%= f.radio_button :preferred_language, "pt-BR" %>
<%= f.label("preferred_language_pt-BR" , t(:portugues)) %>&nbsp;&nbsp;
<%= f.radio_button :preferred_language, "en" %>
<%= f.label("preferred_language_en" , t(:english)) %>

<br/><br/>
<%= link_to t(:back), :back, :class => "awesome small blue button"%>
  <%= f.submit t(:update),:class => "awesome small blue button" %>
<%= link_to t(:change_password) , change_password_user_path(@user) , :class => 'awesome small blue button'%>
<% end %>
 


<% end %>

