<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<h1><%= t(:new) + t(:user) %></h1>
 
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field h(:login) %><br />
  <br />
<%= f.label t(:password) %><br />
<%= f.password_field :password %><br />
<br/>
<%= f.label t(:password_confirmation) %><br />
<%= f.password_field :password_confirmation %><br /><br/>
  <%= f.label t(:name) %><br />
  <%= f.text_field h(:name) %><br />
  <br />
    <%= f.label t(:category) %><br/>
    <%= f.select :category_id, @categories %><br/>
    <br/>
<%= f.label t(:company) %><br/>
<%= f.select :company_id, @companies %>
<br/><br/>
<%= f.radio_button :preferred_language, "pt-BR" %>
<%= f.label("preferred_language_pt-BR" , :portugues) %>&nbsp;&nbsp;
<%= f.radio_button :preferred_language, "en" %>
<%= f.label("preferred_language_en" , :english) %>
<br/><br/>
  <%= f.submit t(:create) %>
<% end %>
 
<br />
<%= link_to t(:back), :back%> 
<% end %>