<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<h1><%= t(:add_user) %></h1>
<form class="jqtransform">  
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field h(:login) %><br />
  <br />
<%= f.label t(:password) %><br />
<%= f.password_field :password %><br />
<br/>
<%= f.label t(:password_confirmation) %><br />
<%= f.password_field :password_confirmation %><br />
<br/>
  <%= f.label t(:name) %><br />
  <%= f.text_field h(:name) %><br />
<br/>
  <%= f.label :email %><br />
  <%= f.text_field h(:email) %><br />

  <br />
    <%= f.label t(:role) %><br/><br/><br/>
    <%= f.select :role_id, @categories %><br/>
    <br/>
<%= f.label t(:company) %><br/><br/>
<%= f.select :company_id, @companies %>
<br/><br/>
<%= f.label t(:preferred_language) %><br/><br/>
<%= f.radio_button :preferred_language, "pt-BR" %>
<%= f.label("preferred_language_pt-BR" , t(:portugues)) %>&nbsp;&nbsp;
<%= f.radio_button :preferred_language, "en" %>
<%= f.label("preferred_language_en" , t(:english)) %>
</form>
<br/><br/>
<%= link_to t(:back), :back, :class => "awesome large blue button"%>
  <%= f.submit t(:create), :class => "awesome large blue button"%>
<% end %>
 



<% end %>
