<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_at %><br />
    <%= f.date_select :start_at, :order=>[:day,:month,:year] %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :valid_until %><br />
    <%= f.date_select :valid_until, :order=>[:day,:month,:year] %>
  </p>
  <p>
    <%= f.label :users_license %><br />
    <%= f.text_field :users_license, :size=>4 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>