 <% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %>
    <%= f.date_select :date, :order=>[:day,:month,:year] %>
 
    <%= f.label :content %>
    <%= f.text_field :content %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :written_by %>&nbsp;
    <%= f.submit "Update" %>  <%= link_to image_tag("trash.jpg",:size=>"28x28", :border=>0), event, :confirm => 'Are you sure?', :method => :delete %>
	
  </p>
<% end %>

