 <% form_for(@event) do |f| %>
  <%= f.error_messages %>

<span class="user_name">Evento</span><br><br> 

<form class="jqtransform">  <p>
	<%= f.radio_button :event_type, "1"%>&nbsp;<%= f.label(:type_1, t(:personal))%><br/><br>
	<%= f.radio_button :event_type, "2"%>&nbsp;<%= f.label(:type_2, t(:user_group))%>&nbsp;<%= select_tag :user_group_id, options_for_select(@user_groups.collect{|obj| [obj.name,obj.id]}) %><br/><br>
	<%= f.radio_button :event_type, "3"%>&nbsp;<%= f.label(:type_3, t(:project))%>&nbsp;<%= select_tag :project_id, options_for_select(@projects.collect{|obj| [obj.name,obj.id]}) %><br/><br>
	<%= f.radio_button :event_type, "4"%>&nbsp;<%= f.label(:type_4, t(:company))%>&nbsp;<%= select_tag :company_id, options_for_select(@companies.collect{|obj| [obj.name,obj.id]}) %><br/><br>
    <%= f.label t(:start_at) %>
    <%= f.datetime_select :start_at, :order=>[:day,:month,:year] %>
    <br/><br>
    <%= f.label t(:content) %><br><br>
    <%= f.text_area h(:content), :size=>60, :rows=>4 %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :written_by %>&nbsp;
    <%= f.submit t(:update) %>  <%= link_to image_tag("trash.png",:size=>"16x16", :border=>0), event, :confirm => 'Are you sure?', :method => :delete %>
	
  </p>
<% end %>
</form>
<br><br>
