<div id="month_calendar">
	<table class = "transparent" size="30px" border="0" width="700px"><tr><td align="right" width="40%">
<%= f.submit "<", :url=>{:controller=>"events", :action=>"display_calendar", :date=>@date_calendar-1.month} %>
</td>
<td  align="center" width="20%"><%= I18n.t('date.month_names')[@date_calendar.month] %> / <%= @date_calendar.year %> </td>
<td align="left" width="40%">
<%= f.submit ">", :url=>{:controller=>"events", :action=>"display_calendar", :date=>@date_calendar+1.month} %>
</td>
</tr>
</table>
</div>
<% first_day =  Date.new(@date_calendar.year,@date_calendar.month,1) %>
<% wday = first_day.wday %>

<table id="mytable" cellspacing="0">

<tr height="25px" >
	<% I18n.t('date.day_names').each do |day| %>
	  <th><%= day %></th>
	<% end %>
<tr height="40px">
	<% (1..wday).each do |wd|  %>
    	<td>&nbsp;</td>
    <% end %>
    
<% date = first_day %>

<% while date.month == first_day.month do %>
 
    <% events = Event.by_date(date,current_user.id)%>  

    <% if date.to_s == Date.today.to_s %>
      <% color = "#fffac2"%>
    <% else %>
      <% color = "#ffffff"%>
    <% end %>
	<td width="120" bgcolor = <%=color%> valign="top" >
    <%= f.submit date.day.to_s,:url=>new_event_path(:date=>date), :method=>:get %> <br/>
    <% for event in events %>
      <span class="hyphenate" lang="pt"> • <%= f.submit "#{event.content}", :url=>edit_event_path(event), :method=>:get %></span><br/><br>
    <% end %> 
    </td>
   <% date += 1.day %>
   <% if date.wday==0 %>
     </tr>
	 <% if date.month == first_day.month %>
	   <tr height="40">
	 <% end %>
    
  <% end %>  
<% end %>
  <% while date.wday > 0 and date.wday < 6 do%>
     <td>&nbsp;</td>
    <% date = date + 1.day %>
  <% end %>
</table>

<div id="event_form" style="display:none;">
<% form_for @event  do |f| %>
	<p>Date :</p>
	<%= f.hidden_field :id %>
	<%= f.date_select :start_at, :order=>[:day,:month,:year], :id=>"selecao" %>
	<%= f.text_field h(:content) %>
	<%= f.submit "Save"%>|
	
<% end %>
<p/>
</div>