<% form_for(@event) do |f| %>
<%= f.error_messages %>
<p>
<table>
	<form class="jqtransform"> 
	<tr>
		<td><%= f.radio_button :event_type, "1"%>&nbsp;<%= f.label(:type_1, t(:personal))%></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><%= f.radio_button :event_type, "2"%>&nbsp;<%= f.label(:type_2, t(:user_group))%></td>
		<td><%= select_tag :user_group_id, options_for_select(@user_groups.collect{|obj| [obj.name,obj.id]}) %></td>
	</tr>
	<tr>
		<td><%= f.radio_button :event_type, "3"%>&nbsp;<%= f.label(:type_3, t(:project))%></td>
		<td><%= select_tag :project_id, options_for_select(@projects.collect{|obj| [obj.name,obj.id]}) %></td>
	</tr>
	<tr>
		<td><%= f.radio_button :event_type, "4"%>&nbsp;<%= f.label(:type_4, t(:company))%></td>
		<td><%= select_tag :company_id, options_for_select(@companies.collect{|obj| [obj.name,obj.id]}) %></td>
	</tr>
	<tr>
		<td><%= f.label t(:start_at) %></td>
		
		<td>
		<%= f.datetime_select :start_at, :order=>[:day,:month,:year], :minute_step=>5 %> 
			until <%= f.time_select :end_at, :minute_step=>5 %> </td>
	</tr>
	<tr>
		<td><%= f.label t(:content) %></td>
		<td><%= f.text_field h(:content) %></td>
	</tr>
	<tr>
		<td><%= check_box :repeat, :to_repeat, {:onclick=>"display_repeat_all();"} %> <%= t(:repeat_all) %> </td>
		<td><div id="repeat_all" style="display:none;">
	    <%= text_field_tag h(:months),'12', :size=>3 %> <%= t(:months)%>
		</div></td>
	</tr>
	<tr>
		<td><%= f.submit t(:create) -%></td>
		<td><%= button_to t(:cancel), :onclick=>"hide_event_form();" %></td>
	</tr>
</form>
</table>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :written_by %>
&nbsp;&nbsp;  
<% end %>
