<% content_for :leftside do %>
  <%= render :partial=>"tasks/my_requests" %>
<% end %>
<% content_for :main do %>
  
  <%= render :partial => "events/index" %>

  <% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field h(:content) %>
  </p>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :written_by %>
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"tasks/my_tasks" %>
<% end %>
<% content_for :lado_sem_usuario do %>
  <%= render :partial=>"tasks/tasks_without_user"%>
<% end %>

<% content_for :messages do %>
  <tr>
  	<td><%= render :partial=>"messages/my_messages" %>
  </tr>
<% end %>



