<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
index
<h2><%= t(:search) + " " + t(:event)%></h2>
<% form_tag do %>
<%= label_tag :event_content %><br/>
<%= text_field_tag h(:content) %><br/>
<br/>
<%= submit_tag t(:search) %>
<% end %>

<% for event in @events do %>
  <%= event.start_at %>
  <%= event.content %>
<% end %>
<% end %>