<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Content:</b>
  <%=h @event.content %>
</p>

<p>
  <b>User:</b>
  <%=h @event.user_id %>
</p>

<p>
  <b>Written by:</b>
  <%=h @event.written_by %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
