<h1>Alterar Categorias has permissao</h1>

<%= error_messages_for :categorias_has_permissao %>

<% form_for(@categorias_has_permissao) do |f| %>
  <p>
    <b>Categorias</b><br />   
    
    <%= f.select :categoria_id,@categorias,{:prompt=>"Selecione uma Opção"} %>      
  </p>

  <p>
    <b>Permissaos</b><br />   
    
    <%= f.select :permissaos_id,@permissaos,{:prompt=>"Selecione uma Opção"} %>      
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @categorias_has_permissao %> |
<%= link_to 'Voltar', categorias_has_permissaos_path %>
