<h1>Listando Categorias has permissaos</h1>

<table>
  <tr>
    <th>Categorias</th>
    <th>Permissaos</th>
  </tr>

<% for categorias_has_permissao in @categorias_has_permissaos %>
  <tr>
    <td><%=h categorias_has_permissao.categoria_id %></td>
    <td><%=h categorias_has_permissao.permissaos_id %></td>
    <td><%= link_to 'Mostrar', categorias_has_permissao %></td>
    <td><%= link_to 'Alterar', edit_categorias_has_permissao_path(categorias_has_permissao) %></td>
    <td><%= link_to 'Excluir', categorias_has_permissao, :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar categorias_has_permissao', new_categorias_has_permissao_path %>
