<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<% #TODO fazer o jquery com on opme %>
<h1>Projeto : <%= @project.name  %></h1>
<p/><br/>
 Selecionados <br/>
<div id="selected_users">
<% for u in @included do%>
  <span id="selected_<%=u.id %>">
  <a href="#" onClick="remove_user(<%=  @project.id %>,<%= u.id %>, '<%= u.name %>' )"><%= u.name %></a><br/>
    </span>    
<% end %>
</div>
<br/>

 Fora do projeto <br/>
(clique no name do usuario para incluí-lo no projeto)<br/>
<div id="not_selected_users">
    <% for u in @not_selected do%>
      <span id="not_selected_<%= u.id %>">
      <a href="#" onClick="include_user(<%=  @project.id %>,<%= u.id %>, '<%= u.name %>' )"><%= u.name %></a><br/>
      </span>
    <% end %>
</div>


<br/>voltar
<%= link_to t(:back), project_path(@project) %>

<% end %>