<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:new) +  " " + t(:project) %></h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field h(:name) %>
  </p>
  <br/>
  <p>
    <%= f.check_box :active %>&nbsp;
    <%= f.label t(:active) %>
  </p>
  <p><br/>
    <%= f.submit t(:save) %>
  </p>
<% end %>
<br/>
<%= link_to t(:back), projects_path %>
<% end  %>