<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t("project") + " " + @project.name.capitalize%></h1>

<p>
  <b><%= t(:active) %> :</b>
  <%=h @project.active %>
</p>
<br/>
<p>
  <b><%= t(:users).capitalize %></b><br/>
  <div id="group">
  <% for user in @project.users %>
    <%= user.name %><br/>
  <% end %>
  </div>
</p>
<%= link_to t(:back), projects_path , :class => 'awesome small blue button'%>
<%= link_to t(:edit), edit_project_path(@project) , :class => 'awesome small blue button'%>
<%= link_to t(:manage_users), :controller=>"projects", :action=>"manage_users", :id=>@project.id, :html=> {:class=> 'awesome small blue button'} %>


<% end %>