<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:editing).capitalize + t(:company) %> </h1>
<form class="jqtransform">
<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br/>
    <%= f.text_field h(:name) %>
  </p>
  <br/>
  <p>
    <%= f.check_box :active %> &nbsp; <%= f.label :active %>
  </p>
</form><br />
  <p>
	 <%= link_to t(:back), companies_path, :class => "awesome large blue button" %> 
	 <%= link_to t(:show), @company, :class => "awesome large blue button"%>
     <%= f.submit t(:update), :class => "awesome large blue button" %> 

  </p>
<% end %>
<br/>



<% end %>
