<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:new) + t(:company) %></h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field t(:name) %>
  </p>
  <br/>
  <p>
    <%= f.check_box :active %>
    <%= f.label t(:active) %><br />
  </p>
  <br/>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
<br/>
<%= link_to t(:back), companies_path %>
<% end%>