<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:new) + t(:company) %></h1>
<form class="jqtransform">
<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </p>
  <br/>
  <p>
    <%= f.check_box :active %>
    <%= f.label t(:active) %><br />
  </p>
</form>
  <br/><br/><br/>
  <p>
	 <%= link_to t(:back), companies_path, :class => "awesome large blue button" %> 
    <%= f.submit t(:create), :class => "awesome large blue button" %> 

  </p>
<% end %>
<br/>

<% end%>
