<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %><p>
  <b><%= t(:name) %>:</b>
  <%=h @company.name %>
</p>

<p>
  <b><%= t(:active) %>:</b>
  <%=h @company.active %>
</p>
<br/>
<%= t(:users) %><br/>
<div id="group">
<% for user in @company.users do %>
<%= link_to user.login, edit_user_url(user) %><br/>
<% end %>
</div>
<br/>

<%= link_to t(:edit), edit_company_path(@company) %> |
<%= link_to t(:back), companies_path %> 
<% end %>