<h1>New pause</h1>

<% form_for(@pause) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_field h(:task) %>
  </p>
  <p>
    <%= f.label :justification %><br />
    <%= f.text_field h(:justification) %>
  </p>
  <p>
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </p>
  <p>
    <%= f.label :comment_requestor %><br />
    <%= f.text_field h(:comment_requestor) %>
  </p>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), pauses_path %>
