<h1>Listing pattern_pauses</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% for pattern_pause in @pattern_pauses %>
  <tr>
    <td><%=h pattern_pause.description %></td>
    <td><%= link_to t(:show), pattern_pause %></td>
    <td><%= link_to t(:edit), edit_pattern_pause_path(pattern_pause) %></td>
    <td><%= link_to t(:destroy), pattern_pause, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pattern_pause', new_pattern_pause_path %>
