<h1>New pattern_pause</h1>

<% form_for(@pattern_pause) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field h(:description) %>
  </p>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), pattern_pauses_path %>
