
<% content_for :main do %>

  <div class="depot-form">

    <%= error_messages_for 'usuario' %>
    <div >
      <div  style="width: 500px; border: 2px; ">
        <fieldset>
          <legend>Preencha os dados do Usuário</legend>
          <br>
          <% form_for :usuario do |form| %>
            <p>
              <label for="usuario_nome">Nome:</label>
              <%= form.text_field :nome, :size => 45 %>
            </p>
            <p>
              <label for="usuario_nome">Login:</label>
              <%= form.text_field :login, :size => 45 %>
            </p>



            <p>
              <label for="usuario_cpf">Cpf:</label>
              <%= form.text_field :cpf , :size => 45%>
            </p>


            <p>
              <label for="usuario_password">Senha:</label>
              <%= form.password_field :password, :size => 45 %>
            </p>

            <p>
              <label for="usuario_password_confirmation">Confirme:</label>
              <%= form.password_field :password_confirmation, :size => 45 %>
            </p>

            <p>
              <label for="usuario_categoria_id">Tipo de Usuário:</label>
              <%= form.select :categoria_id, @categorias,{:prompt=>"Selecione uma Opção"} %>
            </p>

            <p>
              <label for="usuario_cargo">Cargo:</label>
              <%= form.text_field :cargo, :size => 45 %>
            </p>

            <p>
              <label for="usuario_endereco">Endereço:</label>
              <%= form.text_area :endereco, :cols => 36, :rows => 4 %>
            </p>

            <p>
              <label for="usuario_bairro">Bairro:</label>
              <%= form.text_field :bairro, :size => 45 %>
            </p>

            <p>
              <label for="usuario_cargo">Cidade:</label>
              <%= form.text_field :municipio, :size => 45 %>
            </p>

            <p>
              <label for="usuario_uf">Estado:</label>
               <%= form.select :uf,
          UsuariosHelper::ESTADOS_BRASILEIROS, :prompt=>"Selecione uma Opção" %> 
            </p>

           
            <p>
              <label for="usuario_email">E-mail:</label>
              <%= form.text_field :email ,:size => 45 %>
            </p>

            <p>
              <label for="usuario_gerente">Gerente:</label>
              <%= form.text_field :gerente  ,:size => 45 %>
            </p>
            <br>
            <p>
              <%= submit_tag "Enviar Dados", :class => "submit" %>
            </p>
          <% end %>
          <br>
        </fieldset>
      </div>
    </div>
  </div>
  <%= link_to 'Voltar', url_for(:action => 'list_usuarios') %>
<% end %>

