<h1>Cadastro de Usuario</h1>

<%= error_messages_for :usuario %>

<% form_for(@usuario) do |f| %>
  <p>
    <b>Categorias</b><br />   
    
    <%= f.select :categoria_id,@categorias,{:prompt=>"Selecione uma Opção"} %>      
  </p>

  <p>
    <b>Nome</b><br />   
       
    <%= f.text_field :nome %>     
  </p>

  <p>
    <b>Cargo</b><br />   
       
    <%= f.text_field :cargo %>     
  </p>

  <p>
    <b>Pass</b><br />   
       
    <%= f.text_field :pass %>     
  </p>

  <p>
    <b>Endereco</b><br />   
       
    <%= f.text_field :endereco %>     
  </p>

  <p>
    <b>Bairro</b><br />   
       
    <%= f.text_field :bairro %>     
  </p>

  <p>
    <b>Municipio</b><br />   
       
    <%= f.text_field :municipio %>     
  </p>

  <p>
    <b>Uf</b><br />   
       
    <%= f.text_field :uf %>     
  </p>

  <p>
    <b>Cpf</b><br />   
       
    <%= f.text_field :cpf %>     
  </p>

  <p>
    <b>Email</b><br />   
       
    <%= f.text_field :email %>     
  </p>

  <p>
    <b>Gerente</b><br />   
       
    <%= f.text_field :gerente %>     
  </p>

  <p>
    <b>Login</b><br />   
       
    <%= f.text_field :login %>     
  </p>

  <p>
    <b>Hashed password</b><br />   
       
    <%= f.text_field :hashed_password %>     
  </p>

  <p>
    <b>Salt</b><br />   
       
    <%= f.text_field :salt %>     
  </p>

  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>

<%= link_to 'Voltar', usuarios_path %>
