<h1>Editing andamento</h1>

<% form_for(@andamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.check_box :ativo %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @andamento %> |
<%= link_to 'Back', andamentos_path %>
