<h1>Listing pausa_padraos</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% for pausa_padrao in @pausa_padraos %>
  <tr>
    <td><%=h pausa_padrao.descricao %></td>
    <td><%= link_to 'Show', pausa_padrao %></td>
    <td><%= link_to 'Edit', edit_pausa_padrao_path(pausa_padrao) %></td>
    <td><%= link_to 'Destroy', pausa_padrao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pausa_padrao', new_pausa_padrao_path %>
