<%= error_messages_for :empresa %>

<% form_for(@empresa, :html => { :multipart => true }) do |f| %>
   <div class="depot-form">
     <fieldset>
       <p>
         <legend> <%=  @formulario_label  %> </legend>
       </p>
       <br>
       <p>
         <label for="empresa_nome">Nome:</label>
         <%= f.text_field :nome, :size =>  "55" , :readonly => true %>     
       </p>
       <br>
    
       <p>
         <label for="empresa_razao">Razão Social:</label>
         <%= f.text_field :razao, :size =>  "55" , :readonly => true %>     
       </p>
       <br>
    
       <p>
         <label for="empresa_tipo">Tipo:</label>
         <%= f.text_field :tipo, :size =>  "20" , :readonly => true %>  
       </p>
       <br>
         
       <p>
         <label for="empresa_contato">Contato:</label>
         <%= f.text_field :contato, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
      
         
       <p>
         <label for="empresa_contato_fone">Contato telefone:</label>
         <%= f.text_field :contato_fone, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
      
         
       <p>
         <label for="empresa_contato_cell">Contato celular:</label>
         <%= f.text_field :contato_cell, :size =>  "55"  , :readonly => true%>     
       </p>
       <br>
      
       <p>
         <label for="empresa_contato_mail">Contato e-mail:</label>
         <%= f.text_field :contato_email, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
      
       <p>
         <label for="empresa_contato">Telefone Sede:</label>
         <%= f.text_field :contato_fone, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_contato">Telefone Sede:</label>
         <%= f.text_field :contato_fone, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       
       <p>
         <label for="empresa_endereco">Endereço:</label>
         <%= f.text_field :endereco, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_bairro">Bairro:</label>
         <%= f.text_field :bairro, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_municipio">Municipio:</label>
         <%= f.text_field :municipio, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
       
       <p>
         <label for="empresa_uf">Estado:</label>
         <%= f.text_field :uf, :size =>  "10"  , :readonly => true %> 
       </p>
       <br>
         
       
    
       <p>
         <label for="empresa_insc_mun">Insc. Municipal:</label>
         <%= f.text_field :insc_mun, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_site">Site:</label>
         <%= f.text_field :site, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_banco">Banco:</label>
         <%= f.text_field :banco, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_site">Agencia:</label>
         <%= f.text_field :agencia, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
       <p>
         <label for="empresa_site">Conta:</label>
         <%= f.text_field :conta, :size =>  "55"  , :readonly => true %>     
       </p>
       <br>
         
    
     </fieldset>
   </div> 
<% end %>

<%= link_to 'Voltar', empresas_path %>
