<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:editing).capitalize + t(:category) %></h1>
<form class="jqtransform"> 
<% form_for @category do |f| %>

<%= error_messages_for :categories %>
<%= f.label t(:name) %>
<%= f.text_field h(:name) %>
</form>
<br/><br/><br/>
<%= link_to t(:back), categories_path, :class => "awesome large blue button" %>
<%= f.submit t(:update), :class => "awesome large blue button"%>
<% end %>
<br/>

<% end %>
