<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:editing).capitalize + t(:category) %></h1>
 
<% form_for @category, :html=>{:class=>"jNice"} do |f| %>

<%= error_messages_for :categories %>
<%= f.label t(:name) %>
<%= f.text_field h(:name) %>

<br/><br/><br/>
<%= link_to t(:back), categories_path, :class => "awesome small blue button" %>
<%= f.submit t(:update), :class => "awesome small blue button"%>
<% end %>
<br/>

<% end %>
