<%= render :partial=>"layouts/moldura" %>
<% content_for :main do%>
<h1><%=  t(:categories) %></h1>

<%  @export = false  %>
<table class="tableNegocios">
	<tr>
	  <th><%= t(:name)%></th>
	  <th>&nbsp;</th>
	  <th>&nbsp;</th>
	  <th>&nbsp;</th>
	</tr>
  <tbody>
  <%=  render(:partial => "category", :collection => @categories)  %>
  </tbody>
</table>
<br/>
<p>
 <%= link_to t(:new_category), new_category_path %>
</p><br/>

<% end %>
