<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
<h1><%= t(:new) + t(:category) %></h1>
<form class="jqtransform"> 
<% form_for @category do |f| %>

<%= f.error_messages %>
<%= f.label t(:name) %>
<%=  f.text_field h(:name) %>

</form>
<br/><br/><br/><br/><br/>
<%= link_to t(:back), categories_path, :class => "awesome large blue button" %>
<%= f.submit t(:create), :class => "awesome large blue button"%>
<% end %>
<br/>

<% end %>
