<%= render :partial=>"layouts/moldura" %>
<% content_for :main do %>
       <p>
         <%= t(:category) %> :
         <%= @category.name %>     
       </p>

<br/>
<% if @category.users.empty? %>
  <%= t(:no_users_associated) %><br/><br/>
<% else %>
<p><%= t(:users_associated)%></p>
	<br/>
<table>
	<tr>
		<th width="200px"><%=t(:name)%></th>
		<th width="140px"><%= t(:login)%></th>
		<th width="160px"><%= t(:company)%></th>
	</tr>
	
	<%= render :partial=>"user", :collection=>@users %>
</table >
<br/>
<% end %>
<%= link_to t(:back), categories_path %>
<% end %>