<p>
  <b>Data:</b>
  <%=h @pausa.data %>
</p>

<p>
  <b>Task:</b>
  <%=h @pausa.task %>
</p>

<p>
  <b>Justificativa:</b>
  <%=h @pausa.justificativa %>
</p>

<p>
  <b>Aceito:</b>
  <%=h @pausa.aceito %>
</p>

<p>
  <b>Comentario solicitante:</b>
  <%=h @pausa.comentario_solicitante %>
</p>


<%= link_to 'Edit', edit_pausa_path(@pausa) %> |
<%= link_to 'Back', pausas_path %>
