     <ul>
	   <li><%= link_to "Home", tasks_path %></li>
	 </ul>
     <% if current_user.role.level==0 %>
       <ul><li><a href="#"><%=t(:tables)%></a>
         <ul>
           <li><%=link_to t(:projects), projects_path %></li>
           <li><%=link_to t(:companies), companies_path %></li>
           <li><%=link_to t(:categories), categories_path %></a></li>
           <li><%= link_to t(:users), users_path %></li>
           <li><%= link_to t(:user_groups), user_groups_path %></li>           
         </ul>
      </li></ul>
    <% end %>
      
  <ul><li><a href="#"><%=t(:reports)%></a>
     </li></ul>
     <ul><li><a href="#"><%=t(:messages)%></a>
           <ul>
	         <li><%= link_to t(:new), new_message_path %></li>
             <li><%= link_to t(:search), search_messages_path %></li>
           </ul>
           </li></ul>
     <ul><li><a href="/tasks"><%=t(:Tasks)%></a>
           <ul>
	         <li><%= link_to t(:new), new_task_path %></li>
             <li><%=link_to t(:search), search_tasks_path %></li>
           </ul>
               
     </li></ul>
     <ul><li><a href="#"><%=t(:calendar)%></a>
           <ul>
             <li><%= link_to t(:search), search_events_path %></li>
           </ul>
       </li>
     </ul>
     <ul><li><a href="#"><%= t(:evaluation)%></a>
	   <ul>
	   	<li><%= link_to t(:requested_by_me), 
	report_evaluations_path(:search_type=>:requestor) %></li>
	    <li><%= link_to t(:my_tasks), 
	report_evaluations_path(:search_type=>:user) %></li>
	   </ul>
     </li></ul>
     <ul><li><a href="#">Ajuda</a>
           <ul>
             <li>
               <a href="tutoriais/list">Tutoriais</a>
             </li>
             <li>
               <a href="tutoriaiss/index">Fale conosco</a>
             </li>
           </ul>

     </li></ul>
     
     
