 <%=t(:user) %>: <span class="user_name"> <%= current_user.name %> (  <%= current_user.role.name %> )<br/></span>

 <%= link_to t(:my_data), edit_user_path(current_user) %> |
 <%= link_to t(:logout), logout_path %>
